body {
    margin: 0px;
    overflow: hidden;
}

#canvas {
    position: absolute;
    z-index: 2;
}

#menu {
    z-index: 3;
}

#settings {
    position: absolute;
    z-index: 4;
    border-left: 0;
    border-top: 0;
}

#settings img {
    display: block;
    width: 20px;
}

td:last-child {
    width: 32px;
}